.form__subtitle {
    background-color: white;
    padding: 20px;
    margin: 2px;
}

.form__fieldset--newTask {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
    justify-content: space-between;
    border-style: none;
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .form__fieldset--newTask {
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 10px;
}

.form__button--submit {
    background-color: teal;
    color: white;
    border-style: none;
    padding: 10px;
    transition: 1s;
}

.form__button--submit:hover {
    background-color: hsl(180, 100%, 35%);
    scale: 1.1;
}