.list__text--done {
    text-decoration: line-through;
}

.list__button--done {
    background-color: green;
    width: 30px;
    height: 30px;
    border: none;
    color: white;
}

.list__button--remove {
    background-color: crimson;
    width: 30px;
    height: 30px;
    border: none;
    color: white;
    cursor: pointer;
}

.list {
    padding: 15px;
    margin: auto;
}

.list__items {
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
