.section {
    margin: 10px 0;
    width: 100%;
    box-shadow: 0 0 5px #ddd;
    background-color: white;
}

.section__header {
    margin: 0;
    padding: 20px;
    border-bottom: 2px solid #ddd;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}