.body {
    font-family: "Montserrat", sans-serif;
    display: block;
    max-width: 1000px;
    margin: auto;
    background-color: #eeee;
}

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

@media(max-width:767px) {
    .main {
        flex-basis: 100%;
    }
}