.taskList {
    border-style: none;
    background-color: white;
    padding: 20px;
}

.taskList__header {
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    padding: 20px;
}

@media (max-width: 758px) {
    .taskList__header {
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
}

.taskList__subtitle {
    margin: 0px;
}


.taskList__button--header {
    color: teal;
    background-color: transparent;
    border: none;
    display: flex;
    flex-wrap: wrap;
    transition: 0s;
    justify-content: center;
}

@media (max-width: 758px) {
    .taskList__button--header {
        flex-basis: 100%;
        justify-self: center;
        padding: 10px;
    }
}

.taskList__button--header:hover {
    color: hsl(180, 100%, 35%);
}

.taskList__button--header.disabled {
    color: #ccc;
    transition: none;
}

.taskList__listItem {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    border-bottom: solid #eee 1px;
    padding: 10px;
}

.taskList__listItem--done {
    text-decoration: line-through;
}

.taskList__listItem--hideDone {
    display: none;
}

